/* *{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}
body{
  background-color:#191A1F;
 
}
.navbar {
  background-color:black;
  margin: 0;
  width: 100vw;
  position: absolute;
  top: 0;
}
.nav-item{
  padding-left: 92px;
}
.nav-link {
  color: white;
}
.mid{
  width: 54vw;
  margin:0;
}
.even{
  width: 50vw;
  list-style: none;
  display: flex;
  margin: 7px;
  margin-left: 2px;
  padding-left: 120px;
}

.txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vh;
  margin-top: 40pxpx;
  color: white;
}
.outer{
  width: 100vw;
}

.textt{
  text-align: center;
  color: white;
}
.xyz{
  background-color: #FE4D69;
  border-radius: 25px;
  font-size: 20px;
  padding: 15px 100px; 

}

.xyz:hover {
 
  color: rgb(16, 16, 20);

}

.abc{
  text-align: center;
  margin-bottom: 80px;
}
.mid{
  display: flex;
  align-content: center;
}
.box{
  width: 100vw;
  height: 100vh;
}
.box{
  display: flex;
}
.first,.second{
  flex: 1;
}
.first{
  background:#FE4D69;
  margin-top: 130px;
  margin-bottom: 60px;
  margin-left: 90px;
  margin-right: 0px;
  color: #D3D4D7;
  border-radius: 15px 0px 0px 15px; 
  box-shadow: 0px 10px 10px 0px black;

}
.second{
  background:#F3F3F3;
  margin-top: 130px;
  margin-bottom: 60px;
  margin-left: 0px;
  margin-right: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 0px; 
  box-shadow: 0px 10px 0px 0px black;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 225px;
  margin-bottom: 45px;
  margin-left: 40px;
  margin-right: 40px;
}
.bt1{
  background:#D3D4D7;
  width: 80%;
  margin-left: 50px;
 
  margin-top: 90px;
 
  color: #191A1F;
  border-radius:25px;
  height: 40px;
  
}
.bt1::placeholder, .bt2::placeholder{
  text-align: center;
}

.bt2{
  background:#D3D4D7;
  width: 80%;
  margin-left: 50px;
 
  margin-top: 50px;
  color: #191A1F;
  border-radius:25px;
  height: 40px;
}
.bt3{
  background:#FE4D69;
  width: 80%;
  margin-left: 50px;
  font-size: 25px;
  margin-top:50px ;
  border-radius:25px;
}


 input.bt1, input.bt2 {
  font-size: 15px; 
}
.first, .second {
  height: 500px; 
  width: 50px; 
}

.active{
  color:red;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text, .btn2 {
  order: 1;
}
.text{
  height: 30vh;
  color: #D3D4D7;
  font-size: larger;
}

.btn2 {
  order: 2;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-top: 10px;
  height: 50vh;
}
.x{
  background-color: #FE4D69;
  border-radius: 25px;
  font-size: 20px;
  padding: 15px 100px; 
  margin-bottom: 30px;

}
.y{
  background-color: #FE4D69;
  border-radius: 25px;
  font-size: 20px;
  padding: 15px 100px; 
}
.text2{
  color:#D3D4D7;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shade, .msg {
  order: 1;
}
.shade{
  height: 30vh;
  color: #D3D4D7;
  font-size: larger;
}
 */
